<a href="https://colab.research.google.com/github/vadim-privalov/-/blob/main/%D0%94%D0%97_%D0%BE%D1%82_08_12_2020_%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22Part_1_Intro_to_SQL_ipynb%22%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# План занятия
 - Локальные БД. Работа с библиотекой sqlite3
 - Представление БД с использованием Pandas
 - Удаленные БД. Работа с библиотекой SQLAlchemy

# Введение

База данных может храниться локально, на том же компьютере, на котором запускается прикладное программное обеспечение для работы с базой данных или на удаленном компьютере.

Google Colab (точнее Python, запускаемый в среде Google Colab) позволяет работать и с условно «локальной» базой данных и с базой данных на удаленном сервере. 
- В первом случае может использоваться СУБД **SQLite**, которая будет хранится на облачном диске Google Drive. Для среды Google Colab это будет локальная БД.
- В случае работы с удаленной БД можно использовать **SQLAlchemy**.

Оба модуля **SQLite** и **SQLAlchemy** рассмотрим ниже.

# SQLite

**SQLite** — компактная встраиваемая реляционная база данных. Является чисто реляционной базой данных.

Слово «встраиваемый» означает, что SQLite **не использует парадигму клиент-сервер.** Модуль sqlite3 входит в установочный пакет языка Python, является компонентом стандартной библиотеки и не требует отдельной загрузки и установки.

Pipeline для работы с БД при помощи библиотеки SQLite

``` 
import sqlite3

conn = sqlite3.connect(path)

cursor = conn.cursor()

# Работа с БД
# ...
# ...

cursor.close()
conn.close()
```

## Подключение к базе данных

Для доступа к диску Google Drive сервису Google Colab необходимо дать разрешение на подключение к диску.

Для подключения и разрешения доступа Google Colab к диску Google Drive используем следующий код:

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Подключаем модуль для работы с базой SQLite

In [ ]:
import sqlite3

Непосредственно модуль sqlite3 – это API к СУБД SQLite. Своего рода адаптер, который переводит команды, написанные на Питоне, в команды, которые понимает SQLite. Как и наоборот, доставляет ответы от SQLite в python-программу.

In [ ]:
dir(sqlite3)

['Binary',
 'Cache',
 'Connection',
 'Cursor',
 'DataError',
 'DatabaseError',
 'Date',
 'DateFromTicks',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'OptimizedUnicode',
 'PARSE_COLNAMES',
 'PARSE_DECLTYPES',
 'PrepareProtocol',
 'ProgrammingError',
 'Row',
 'SQLITE_ALTER_TABLE',
 'SQLITE_ANALYZE',
 'SQLITE_ATTACH',
 'SQLITE_CREATE_INDEX',
 'SQLITE_CREATE_TABLE',
 'SQLITE_CREATE_TEMP_INDEX',
 'SQLITE_CREATE_TEMP_TABLE',
 'SQLITE_CREATE_TEMP_TRIGGER',
 'SQLITE_CREATE_TEMP_VIEW',
 'SQLITE_CREATE_TRIGGER',
 'SQLITE_CREATE_VIEW',
 'SQLITE_DELETE',
 'SQLITE_DENY',
 'SQLITE_DETACH',
 'SQLITE_DROP_INDEX',
 'SQLITE_DROP_TABLE',
 'SQLITE_DROP_TEMP_INDEX',
 'SQLITE_DROP_TEMP_TABLE',
 'SQLITE_DROP_TEMP_TRIGGER',
 'SQLITE_DROP_TEMP_VIEW',
 'SQLITE_DROP_TRIGGER',
 'SQLITE_DROP_VIEW',
 'SQLITE_IGNORE',
 'SQLITE_INSERT',
 'SQLITE_OK',
 'SQLITE_PRAGMA',
 'SQLITE_READ',
 'SQLITE_REINDEX',
 'SQLITE_SELECT',
 'SQLITE_TRANSACTION',
 'SQLITE_UPDATE',
 'Statement',
 'Time',
 'TimeFromTicks',
 'Timestamp',
 'TimestampFromTicks',
 'Warning',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'adapt',
 'adapters',
 'apilevel',
 'collections',
 'complete_statement',
 'connect',
 'converters',
 'datetime',
 'dbapi2',
 'enable_callback_tracebacks',
 'enable_shared_cache',
 'paramstyle',
 'register_adapter',
 'register_converter',
 'sqlite_version',
 'sqlite_version_info',
 'threadsafety',
 'time',
 'version',
 'version_info']

Создадим папку "my_databases", где будут хранится наши БД

In [ ]:
import os
path = "./drive/My Drive/my_databases"
if not os.path.exists(path):
    os.mkdir(path)

In [ ]:
os.path.exists(path)

True

Подключаемся к базе test.db. Если этого файла нет в каталоге, то он будет создан.

Вызов функции connect() приводит к созданию объекта-экземпляра от класса Connection. Этот объект обеспечивает связь с файлом базы данных, представляет конкретную БД в программе:

In [ ]:
conn = sqlite3.connect(path + '/test.db')
print("Opened database successfully");

Opened database successfully

После того как экземпляр Connection создан, чтобы выполнять SQL-команды, надо создать еще один объект, но теперь уже от класса Cursor. Делается это с помощью метода cursor() объекта типа Connection:

In [ ]:
cursor = conn.cursor()

In [ ]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS team_data(team text, 
                      country text, 
                      season integer, 
                      total_goals integer);''')

conn.commit()

print("Table created successfully");

#conn.close()

Table created successfully

Заполнять таблицы можно тоже с помощью **execute().**

In [ ]:
# INSERTING VALUES

cursor.execute("INSERT INTO team_data VALUES('Real Madrid', 'Spain', 2019, 53);")
cursor.execute("INSERT INTO team_data VALUES('Barcelona', 'Spain', 2019, 47);")

Однако, если требуется вставить несколько записей, лучше воспользоваться методом **executemany():**

In [ ]:
sections = [('Arsenal', 'UK', 2019, 52), ('Real Madrid', 'Spain', 2018, 49),
             ('Barcelona', 'Spain', 2018, 45), ('Arsenal', 'UK', 2018, 50 )]
cursor.executemany("INSERT INTO team_data VALUES (?, ?, ?, ?)", sections)

Для того, чтобы корректно завершить работу с базой данных, надо применить изменения (выполнить транзакцию) **commit()** и разорвать соединение **close()**. Обратите внимание, это делается по отношению к экземпляру Connection, а не Cursor:

In [ ]:
conn.commit()
conn.close()

In [ ]:
# Average goal by team

conn = sqlite3.connect(path + '/test.db')
# Создаем объект типа cursor для доступа к данным
cursor = conn.cursor()

#Запрос данных из таблицы 
sql  = '''SELECT team, total_goals FROM team_data'''

cursor.execute(sql)

for row in cursor:
    print(row)

In [ ]:
#Запрос данных из таблицы 
sql  = ''' SELECT team, AVG(total_goals) FROM team_data'''

cursor.execute(sql)

for row in cursor:
    print(row)

('Arsenal', 49.333333333333336)

Почему на выходе получили только 1 комманду?

In [ ]:
sql  = ''' SELECT team, AVG(total_goals) AS avg_goals FROM team_data GROUP BY team;'''
cursor.execute(sql)

for row in cursor:
  print(row)

('Arsenal', 51.0)
('Barcelona', 46.0)
('Real Madrid', 51.0)

In [ ]:
cursor.close()
conn.close()

In [ ]:
# First try to filter the teams with average goals higher than 50
# This query will generate an error

conn = sqlite3.connect(path + '/test.db')
cursor = conn.cursor()

sql = ''' SELECT team AS team_name,
                            AVG(total_goals) AS avg_goals
                          FROM team_data
                          GROUP BY team 
                          HAVING AVG(total_goals) > 50;'''
                          
cursor.execute(sql)

for row in cursor:
  print(row)
conn.close()

('Arsenal', 51.0)
('Real Madrid', 51.0)

In [ ]:
# Now, the correct query, using the appropriate sub-query

conn = sqlite3.connect(path + '/test.db')

cursor = conn.cursor()

sql = ''' SELECT team_name, avg_goals
                          FROM (

                          -- Here we make our sub-query:
                            SELECT team AS team_name,
                            AVG(total_goals) AS avg_goals
                            FROM team_data
                            GROUP BY team) tp
                          -- End of the sub-query
                          
                          WHERE avg_goals > 50;'''

cursor.execute(sql)

for row in cursor:
  print(row)
conn.close()

('Arsenal', 51.0)
('Real Madrid', 51.0)

Для наглядного представления табличных данных можно использовать библиотеку pandas:

In [ ]:
import pandas as pd


conn = sqlite3.connect(path + '/test.db')
cursor = conn.cursor()

#sql  = '''SELECT team, total_goals AS avg_goals FROM team_data GROUP BY team;'''
sql  = '''SELECT team, total_goals FROM team_data;'''
                          
cursor.execute(sql)

# Загружаем все результаты в список списков rows 
rows = cursor.fetchall()

In [ ]:
rows

[]

In [ ]:
pd.DataFrame(rows, columns=('Team', 'Goals') )

           Team  Goals
0   Real Madrid     53
1     Barcelona     47
2       Arsenal     52
3   Real Madrid     49
4     Barcelona     45
5       Arsenal     50
6   Real Madrid     53
7     Barcelona     47
8       Arsenal     52
9   Real Madrid     49
10    Barcelona     45
11      Arsenal     50

In [ ]:
sql  = '''SELECT team, total_goals AS avg_goals FROM team_data GROUP BY team;'''
                          
cursor.execute(sql)

# Загружаем все результаты в список списков rows 
rows = cursor.fetchall()

pd.DataFrame(rows, columns=('Team', 'Goals'))

          Team  Goals
0      Arsenal     50
1    Barcelona     45
2  Real Madrid     49

In [ ]:
cursor.close()
conn.close()

ProgrammingError: ignored

<center><img src='https://raw.githubusercontent.com/ddvika/Data-Science-School-2020/main/lecture_5/imgs/typical_sql.tiff' height = 550></center>

# SQLAlchemy

**ORM** расшифровывается как object-relational mapping,  или объектно-реляционное отображение — подход к работе с базами данных, использующий  концепции объектно-ориентированных языков программирования.   Объектно-реляционное отображение позволяет оперировать объектами в коде, что гораздо удобнее, чем работать с запросами и таблицами.


Иными словами, можно обращаться к объектам классов для управления данными в таблицах БД. Также можно создавать, изменять, удалять, фильтровать и, самое главное, наследовать объекты классов, сопоставленные с таблицами БД, что существенно сокращает наполнение кодовой базы.

**SQLAlchemy** — это библиотека на языке Python для работы с реляционными СУБД с применением технологии ORM. Служит для синхронизации объектов Python и записей реляционной базы данных. SQLAlchemy позволяет описывать структуры баз данных и способы взаимодействия с ними на языке Python без использования SQL.

### Создадим новую базу данных с нуля
Давайте создадим новую базу данных с нуля, для этого:
1. Создадим классы для определения схемы.
2. Сопоставим схему с базой данных.
3. Добавим объекты в базу данных
4. Напишем запросы

### 1. Запустим database session

In [ ]:
from sqlalchemy import create_engine
#engine = create_engine('sqlite:///example.db', echo=True)
engine = create_engine('sqlite:///:memory:', echo=True)
#engine = create_engine('sqlite:///:memory:')
conn = engine.connect()

from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

2020-12-13 17:04:51,941 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-12-13 17:04:51,942 INFO sqlalchemy.engine.base.Engine ()
2020-12-13 17:04:51,948 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-12-13 17:04:51,949 INFO sqlalchemy.engine.base.Engine ()

В случае если мы хоти подкоючится к удаленной БД, код будет выглядить примерно так:

```
def connect_to_db(uid):
    # создаем объект подключения
    sql = create_engine(
        f'mysql+mysqlconnector://user{uid}:userpassword{uid}'   # LOGIN, PASSWORD
        f'@157.230.109.1/classicmodels_user_{uid}',             # HOST IP
        pool_recycle=60
    )
    connection = sql.connect()
    return connection
    # отправка комманд без чтения/записи (например удаление) в самом конце

connection = connect_to_db(uid=5)
connection
```

### 2. Вспомогательные функции для печати и вывода результатов SQL запросов

In [ ]:
from IPython.display import display
import pandas as pd
import sqlalchemy

def sql(query):
    print()
    print(query)
    print()

def get_results(query):
    global engine
    q = query.statement if isinstance(query, sqlalchemy.orm.query.Query) else query
    return pd.read_sql(q, engine)

def display_results(query):
    df = get_results(query)
    display(df)
    #sql(query)

### 3. Инициализация схемы БД

Схема - это пространство имен, которое содержит именованные объекты базы данных, такие как таблицы, представления, индексы, типы данных

In [ ]:
!pip install sqlalchemy_explore

Requirement already satisfied: sqlalchemy_explore in /usr/local/lib/python3.6/dist-packages (0.1.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (from sqlalchemy_explore) (1.3.20)

In [ ]:
from sqlalchemy.ext.declarative import declarative_base
import sqlalchemy_explore

### the basic base class for SQLAlchemy schema objects
# Base = declarative_base(bind=engine)

### base class including utils like an __repr__ method
### see https://pypi.org/project/sqlalchemy-explore/
Base = declarative_base(cls=sqlalchemy_explore.ReflectiveMixin)

### Создание самой схемы

In [ ]:
from sqlalchemy import Column, DateTime, ForeignKey, Integer, NVARCHAR, Numeric, Sequence
from sqlalchemy.orm import relationship

class Customer(Base):
    __tablename__ = 'customers'

    CustomerId = Column(Integer, Sequence('customer_id_seq'), primary_key=True)
    FirstName = Column(NVARCHAR(40), nullable=False)
    LastName = Column(NVARCHAR(20), nullable=False)
    Company = Column(NVARCHAR(80))
    activity = Column(NVARCHAR(80))
    Address = Column(NVARCHAR(70))
    Phone = Column(NVARCHAR(24))
    Email = Column(NVARCHAR(60), nullable=False)
    
class Item(Base):
    __tablename__ = 'items'
    
    ItemId = Column(Integer, Sequence('item_id_seq'), primary_key=True)
    FirstName = Column(NVARCHAR(40), nullable=False)
    LastName = Column(NVARCHAR(20), nullable=False)
    Name = Column(NVARCHAR(40), nullable=False)
    Price = Column(Numeric, nullable=False)

class Purchase(Base):
    __tablename__ = 'purchases'
    
    PurchaseId = Column(Integer, Sequence('purchase_id_seq'), primary_key=True)
    ItemId = Column(ForeignKey('items.ItemId'), nullable=False, index=True)
    CustomerId = Column(ForeignKey('customers.CustomerId'), nullable=False, index=True)
    Date = Column(DateTime, nullable=False)
    
    item = relationship('Item')
    customer = relationship('Customer')

In [ ]:
Purchase.ItemId.name

'ItemId'

In [ ]:
Purchase.CustomerId.name

'CustomerId'

### 5. Создадим таблицы в базе данных в соответствии со схемой

In [ ]:
Base.metadata.create_all(engine)

2020-12-13 17:05:16,286 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("customers")
2020-12-13 17:05:16,288 INFO sqlalchemy.engine.base.Engine ()
2020-12-13 17:05:16,292 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("customers")
2020-12-13 17:05:16,293 INFO sqlalchemy.engine.base.Engine ()
2020-12-13 17:05:16,297 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("items")
2020-12-13 17:05:16,299 INFO sqlalchemy.engine.base.Engine ()
2020-12-13 17:05:16,301 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("items")
2020-12-13 17:05:16,303 INFO sqlalchemy.engine.base.Engine ()
2020-12-13 17:05:16,305 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("purchases")
2020-12-13 17:05:16,307 INFO sqlalchemy.engine.base.Engine ()
2020-12-13 17:05:16,311 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("purchases")
2020-12-13 17:05:16,320 INFO sqlalchemy.engine.base.Engine ()
2020-12-13 17:05:16,324 INFO sqlalchemy.engine.base.Engine
CREATE TABLE customers (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	activity NVARCHAR(80),
	"Address" NVARCHAR(70),
	"Phone" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	PRIMARY KEY ("CustomerId")
)


2020-12-13 17:05:16,327 INFO sqlalchemy.engine.base.Engine ()
2020-12-13 17:05:16,329 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-13 17:05:16,332 INFO sqlalchemy.engine.base.Engine
CREATE TABLE items (
	"ItemId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Name" NVARCHAR(40) NOT NULL,
	"Price" NUMERIC NOT NULL,
	PRIMARY KEY ("ItemId")
)


2020-12-13 17:05:16,334 INFO sqlalchemy.engine.base.Engine ()
2020-12-13 17:05:16,335 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-13 17:05:16,337 INFO sqlalchemy.engine.base.Engine
CREATE TABLE purchases (
	"PurchaseId" INTEGER NOT NULL,
	"ItemId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"Date" DATETIME NOT NULL,
	PRIMARY KEY ("PurchaseId"),
	FOREIGN KEY("ItemId") REFERENCES items ("ItemId"),
	FOREIGN KEY("CustomerId") REFERENCES customers ("CustomerId")
)


2020-12-13 17:05:16,339 INFO sqlalchemy.engine.base.Engine ()
2020-12-13 17:05:16,340 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-13 17:05:16,342 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_purchases_ItemId" ON purchases ("ItemId")
2020-12-13 17:05:16,343 INFO sqlalchemy.engine.base.Engine ()
2020-12-13 17:05:16,345 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-13 17:05:16,346 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_purchases_CustomerId" ON purchases ("CustomerId")
2020-12-13 17:05:16,347 INFO sqlalchemy.engine.base.Engine ()
2020-12-13 17:05:16,349 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
engine.table_names()

2020-12-13 17:05:25,795 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-12-13 17:05:25,796 INFO sqlalchemy.engine.base.Engine ()

['customers', 'items', 'purchases']

### 6. Создадим покупателя

In [ ]:
moshe = Customer(
    FirstName='Moshe', 
    LastName='Cohen', 
    Address='Alenbi 99, Tel Aviv', 
    Phone="053-5556789", 
    Email='moshe@cohen.com')

session.add(moshe)
session.commit()

2020-12-13 17:05:28,035 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-13 17:05:28,039 INFO sqlalchemy.engine.base.Engine INSERT INTO customers ("FirstName", "LastName", "Company", activity, "Address", "Phone", "Email") VALUES (?, ?, ?, ?, ?, ?, ?)
2020-12-13 17:05:28,043 INFO sqlalchemy.engine.base.Engine ('Moshe', 'Cohen', None, None, 'Alenbi 99, Tel Aviv', '053-5556789', 'moshe@cohen.com')
2020-12-13 17:05:28,046 INFO sqlalchemy.engine.base.Engine COMMIT

### 7. Выполним запрос

Используя язык выражений SQLAchemy

In [ ]:
from sqlalchemy import select 

customers_query = select([Customer.FirstName, Customer.LastName, Customer.Email])
results = conn.execute(customers_query)

print()
for row in results:
    print(row)

print()
print(type(row)) # rows are of type sqlalchemy.engine.result.RowProxy

2020-12-13 16:56:58,462 INFO sqlalchemy.engine.base.Engine SELECT customers."FirstName", customers."LastName", customers."Email"
FROM customers
2020-12-13 16:56:58,464 INFO sqlalchemy.engine.base.Engine ()

('Moshe', 'Cohen', 'moshe@cohen.com')

<class 'sqlalchemy.engine.result.RowProxy'>

In [ ]:
display_results(customers_query)

2020-12-13 16:57:03,652 INFO sqlalchemy.engine.base.OptionEngine SELECT customers."FirstName", customers."LastName", customers."Email"
FROM customers
2020-12-13 16:57:03,653 INFO sqlalchemy.engine.base.OptionEngine ()

  FirstName LastName            Email
0     Moshe    Cohen  moshe@cohen.com

In [ ]:
moshe = Item(
    FirstName='Moshe', 
    LastName='Cohen',
    Name='Ботинки', 
    Price='300')

session.add(moshe)
session.commit()

2020-12-13 17:06:08,097 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-13 17:06:08,099 INFO sqlalchemy.engine.base.Engine INSERT INTO items ("FirstName", "LastName", "Name", "Price") VALUES (?, ?, ?, ?)
2020-12-13 17:06:08,104 INFO sqlalchemy.engine.base.Engine ('Moshe', 'Cohen', 'Ботинки', 300.0)
2020-12-13 17:06:08,106 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
from sqlalchemy import select 

Item_query = select([Item.ItemId, Item.FirstName, Item.Name, Item.Price])
results = conn.execute(Item_query)

print()
for row in results:
    print(row)

print()
print(type(row)) # rows are of type sqlalchemy.engine.result.RowProxy

2020-12-13 17:08:18,451 INFO sqlalchemy.engine.base.Engine SELECT items."ItemId", items."FirstName", items."Name", items."Price"
FROM items
2020-12-13 17:08:18,452 INFO sqlalchemy.engine.base.Engine ()

(1, 'Moshe', 'Ботинки', Decimal('300.0000000000'))

<class 'sqlalchemy.engine.result.RowProxy'>

In [ ]:
display_results(Item_query)

2020-12-13 17:08:22,515 INFO sqlalchemy.engine.base.OptionEngine SELECT items."ItemId", items."FirstName", items."Name", items."Price"
FROM items
2020-12-13 17:08:22,518 INFO sqlalchemy.engine.base.OptionEngine ()

   ItemId FirstName     Name  Price
0       1     Moshe  Ботинки  300.0

In [ ]:
from sqlalchemy import select 

purchases_query = select([Purchase.ItemId, Purchase.CustomerId])
results = conn.execute(purchases_query)

print()
for row in results:
    print(row)

print()
print(type(row)) # rows are of type sqlalchemy.engine.result.RowProxy

2020-12-13 16:41:03,219 INFO sqlalchemy.engine.base.Engine SELECT purchases."ItemId", purchases."CustomerId"
FROM purchases
2020-12-13 16:41:03,220 INFO sqlalchemy.engine.base.Engine ()


<class 'sqlalchemy.engine.result.RowProxy'>

### 8. Добавим еще покупателей

In [ ]:
Lisa = Customer(
    FirstName='Lisa',
    LastName='Cohen', 
    Address='Alenbi 99, Tel Aviv', 
    Phone="052-1234565", 
    Email='lisa@cohen.com')

session.add(Lisa)
session.commit()

2020-12-13 17:08:30,744 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-13 17:08:30,747 INFO sqlalchemy.engine.base.Engine INSERT INTO customers ("FirstName", "LastName", "Company", activity, "Address", "Phone", "Email") VALUES (?, ?, ?, ?, ?, ?, ?)
2020-12-13 17:08:30,749 INFO sqlalchemy.engine.base.Engine ('Lisa', 'Cohen', None, None, 'Alenbi 99, Tel Aviv', '052-1234565', 'lisa@cohen.com')
2020-12-13 17:08:30,751 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
Nika = Customer(
    FirstName='Nika', 
    LastName='Rave', 
    Address='Green st, LA', 
    Phone="330-1234565", 
    Email='Nika@rave.com')

session.add(Nika)
session.commit()

2020-12-13 17:08:34,281 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-13 17:08:34,284 INFO sqlalchemy.engine.base.Engine INSERT INTO customers ("FirstName", "LastName", "Company", activity, "Address", "Phone", "Email") VALUES (?, ?, ?, ?, ?, ?, ?)
2020-12-13 17:08:34,286 INFO sqlalchemy.engine.base.Engine ('Nika', 'Rave', None, None, 'Green st, LA', '330-1234565', 'Nika@rave.com')
2020-12-13 17:08:34,288 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
Lisa_2 = Customer(
    FirstName='Lisa',
    LastName='White', 
    Address='Alenbi 66, Tel Aviv', 
    Phone="062-1234565", 
    Email='lisa@White.com')

session.add(Lisa_2)
session.commit()

2020-12-13 14:19:11,837 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-13 14:19:11,840 INFO sqlalchemy.engine.base.Engine INSERT INTO customers ("FirstName", "LastName", "Company", activity, "Address", "Phone", "Email") VALUES (?, ?, ?, ?, ?, ?, ?)
2020-12-13 14:19:11,843 INFO sqlalchemy.engine.base.Engine ('Lisa', 'White', None, None, 'Alenbi 66, Tel Aviv', '062-1234565', 'lisa@White.com')
2020-12-13 14:19:11,845 INFO sqlalchemy.engine.base.Engine COMMIT

Посмотрим теперь на таблицу:

In [ ]:
customers_query = select([Customer.FirstName, Customer.LastName, Customer.Email])
display_results(customers_query)

2020-12-13 17:08:39,590 INFO sqlalchemy.engine.base.OptionEngine SELECT customers."FirstName", customers."LastName", customers."Email"
FROM customers
2020-12-13 17:08:39,592 INFO sqlalchemy.engine.base.OptionEngine ()

  FirstName LastName            Email
0     Moshe    Cohen  moshe@cohen.com
1      Lisa    Cohen   lisa@cohen.com
2      Nika     Rave    Nika@rave.com

In [ ]:
Customer.__dict__

mappingproxy({'Address': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x7fa75c9f6ba0>,
              'Company': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x7fa75c9f6c50>,
              'CustomerId': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x7fa75c9f6db0>,
              'Email': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x7fa75c9f6af0>,
              'FirstName': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x7fa75c9f6990>,
              'LastName': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x7fa75c9f64c0>,
              'Phone': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x7fa75c9f6a98>,
              '__doc__': None,
              '__init__': <function __init__>,
              '__mapper__': <Mapper at 0x7fa75ca0f5f8; Customer>,
              '__module__': '__main__',
              '__table__': Table('customers', MetaData(bind=None), Column('CustomerId', Integer(), table=<customers>, primary_key=True, nullable=False, default=Sequence('customer_id_seq', metadata=MetaData(bind=None))), Column('FirstName', NVARCHAR(length=40), table=<customers>, nullable=False), Column('LastName', NVARCHAR(length=20), table=<customers>, nullable=False), Column('Company', NVARCHAR(length=80), table=<customers>), Column('activity', NVARCHAR(length=80), table=<customers>), Column('Address', NVARCHAR(length=70), table=<customers>), Column('Phone', NVARCHAR(length=24), table=<customers>), Column('Email', NVARCHAR(length=60), table=<customers>, nullable=False), schema=None),
              '__tablename__': 'customers',
              '_sa_class_manager': <ClassManager of <class '__main__.Customer'> at 7fa75c9f6938>,
              'activity': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x7fa75c9f6bf8>})

In [ ]:
list_info = session.query(Customer).all()

2020-12-13 17:08:46,202 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-13 17:08:46,204 INFO sqlalchemy.engine.base.Engine SELECT customers."CustomerId" AS "customers_CustomerId", customers."FirstName" AS "customers_FirstName", customers."LastName" AS "customers_LastName", customers."Company" AS "customers_Company", customers.activity AS customers_activity, customers."Address" AS "customers_Address", customers."Phone" AS "customers_Phone", customers."Email" AS "customers_Email"
FROM customers
2020-12-13 17:08:46,205 INFO sqlalchemy.engine.base.Engine ()

In [ ]:
list_info

[Customer(CustomerId=1, FirstName='Moshe', LastName='Cohen', Company=None, activity=None, Address='Alenbi 99, Tel Aviv', Phone='053-5556789', Email='moshe@cohen.com'),
 Customer(CustomerId=2, FirstName='Lisa', LastName='Cohen', Company=None, activity=None, Address='Alenbi 99, Tel Aviv', Phone='052-1234565', Email='lisa@cohen.com'),
 Customer(CustomerId=3, FirstName='Nika', LastName='Rave', Company=None, activity=None, Address='Green st, LA', Phone='330-1234565', Email='Nika@rave.com')]

In [ ]:
for id_ in list_info:
    print(id_.CustomerId)

1
2
3

In [ ]:
first_info = session.query(Customer.CustomerId)

In [ ]:
first_info

Операторы **desc**, **asc**, **order_by**

Оператор SQL ORDER BY выполняет сортировку выходных значений. Оператор SQL ORDER BY можно применять как к числовым столбцам, так и к строковым. В последнем случае, сортировка будет происходить по алфавиту.

`ORDER BY column_name [ASC | DESC]`

ASC - по возрастанию, DESC - по убыванию

In [ ]:
from sqlalchemy import *

In [ ]:
from sqlalchemy import desc, asc

customers_query = select([Customer.FirstName, Customer.LastName, Customer.Email]).order_by(asc(Customer.FirstName), desc(Customer.LastName))
#customers_query = customers_query.order_by(asc(Customer.FirstName))

display_results(customers_query)

2020-12-13 17:09:00,492 INFO sqlalchemy.engine.base.OptionEngine SELECT customers."FirstName", customers."LastName", customers."Email"
FROM customers ORDER BY customers."FirstName" ASC, customers."LastName" DESC
2020-12-13 17:09:00,494 INFO sqlalchemy.engine.base.OptionEngine ()

  FirstName LastName            Email
0      Lisa    Cohen   lisa@cohen.com
1     Moshe    Cohen  moshe@cohen.com
2      Nika     Rave    Nika@rave.com

In [ ]:
customers_query = customers_query.order_by(desc(Customer.FirstName))

display_results(customers_query)

2020-12-13 16:58:10,158 INFO sqlalchemy.engine.base.OptionEngine SELECT customers."FirstName", customers."LastName", customers."Email"
FROM customers ORDER BY customers."FirstName" ASC, customers."LastName" DESC, customers."FirstName" DESC
2020-12-13 16:58:10,159 INFO sqlalchemy.engine.base.OptionEngine ()

  FirstName LastName            Email
0      Lisa    Cohen   lisa@cohen.com
1     Moshe    Cohen  moshe@cohen.com
2      Nika     Rave    Nika@rave.com

**where**
Оператор SQL WHERE служит для задания дополнительного условия выборки, операций вставки, редактирования и удаления записей.

`where condition`

In [ ]:
customers_query = select([Customer.FirstName, Customer.LastName, Customer.Email])
customers_query = customers_query.where(Customer.FirstName == 'Lisa')

display_results(customers_query)

2020-12-13 16:58:17,578 INFO sqlalchemy.engine.base.OptionEngine SELECT customers."FirstName", customers."LastName", customers."Email"
FROM customers
WHERE customers."FirstName" = ?
2020-12-13 16:58:17,583 INFO sqlalchemy.engine.base.OptionEngine ('Lisa',)

  FirstName LastName           Email
0      Lisa    Cohen  lisa@cohen.com

In [ ]:
customers_query = select([Customer.FirstName, Customer.LastName, Customer.Email])
customers_query = customers_query.where(Customer.FirstName == 'Lisa').order_by(asc(Customer.LastName))

In [ ]:
display_results(customers_query)

2020-12-13 16:58:25,333 INFO sqlalchemy.engine.base.OptionEngine SELECT customers."FirstName", customers."LastName", customers."Email"
FROM customers
WHERE customers."FirstName" = ?
2020-12-13 16:58:25,336 INFO sqlalchemy.engine.base.OptionEngine ('Lisa',)

  FirstName LastName           Email
0      Lisa    Cohen  lisa@cohen.com

Документация по операторам в SQLAchemy:

https://docs.sqlalchemy.org/en/13/core/sqlelement.html

## SQLAchemy + Pandas

In [ ]:
import pandas as pd

In [ ]:
#выведем название нашей таблицы
Item.__tablename__

'items'

In [ ]:
df = pd.read_sql('SELECT * FROM customers', conn)
df.tail()

2020-12-13 16:58:38,620 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("SELECT * FROM customers")
2020-12-13 16:58:38,621 INFO sqlalchemy.engine.base.Engine ()
2020-12-13 16:58:38,623 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("SELECT * FROM customers")
2020-12-13 16:58:38,624 INFO sqlalchemy.engine.base.Engine ()
2020-12-13 16:58:38,626 INFO sqlalchemy.engine.base.Engine SELECT * FROM customers
2020-12-13 16:58:38,628 INFO sqlalchemy.engine.base.Engine ()

   CustomerId FirstName  ...        Phone            Email
0           1     Moshe  ...  053-5556789  moshe@cohen.com
1           2      Lisa  ...  052-1234565   lisa@cohen.com
2           3      Nika  ...  330-1234565    Nika@rave.com

[3 rows x 8 columns]

In [ ]:
# Если хотим получить отсортированные значения - ключевая команда ORDER BY
sql = """
SELECT 
    *
FROM
    customers
ORDER BY 
    LastName ASC;
"""
df = pd.read_sql(sql, conn)

df.head()

2020-12-13 17:31:20,365 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("
SELECT
    *
FROM
    customers
ORDER BY
    LastName ASC;
")
2020-12-13 17:31:20,367 INFO sqlalchemy.engine.base.Engine ()
2020-12-13 17:31:20,370 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("
SELECT
    *
FROM
    customers
ORDER BY
    LastName ASC;
")
2020-12-13 17:31:20,372 INFO sqlalchemy.engine.base.Engine ()
2020-12-13 17:31:20,374 INFO sqlalchemy.engine.base.Engine
SELECT
    *
FROM
    customers
ORDER BY
    LastName ASC;

2020-12-13 17:31:20,376 INFO sqlalchemy.engine.base.Engine ()

   CustomerId FirstName  ...        Phone              Email
0           6        Ed  ...  034-1542560       Ed@Black.com
1           7      Alan  ...  034-1542562     Alan@Black.com
2           8   Jessica  ...  034-1542561  Jessica@Black.com
3           1     Moshe  ...  053-5556789    moshe@cohen.com
4           2      Lisa  ...  052-1234565     lisa@cohen.com

[5 rows x 8 columns]

In [ ]:
# Если хотим получить уникальные значения - ключевая команда DISTINCT
df = pd.read_sql("""
SELECT 
    DISTINCT LastName
FROM
    customers
ORDER BY 
    LastName;
""", conn)

df.head()

2020-12-13 16:42:46,463 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("
SELECT
    DISTINCT LastName
FROM
    customers
ORDER BY
    LastName;
")
2020-12-13 16:42:46,464 INFO sqlalchemy.engine.base.Engine ()
2020-12-13 16:42:46,465 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("
SELECT
    DISTINCT LastName
FROM
    customers
ORDER BY
    LastName;
")
2020-12-13 16:42:46,466 INFO sqlalchemy.engine.base.Engine ()
2020-12-13 16:42:46,467 INFO sqlalchemy.engine.base.Engine
SELECT
    DISTINCT LastName
FROM
    customers
ORDER BY
    LastName;

2020-12-13 16:42:46,468 INFO sqlalchemy.engine.base.Engine ()

  LastName
0    Cohen
1     Rave

# ДЗ
 Дедлайн **15.12.2020, 23:59**
  
- Решить первые 20 задач с сайта https://www.sql-ex.ru (Раздел SELECT(обучающий этап)). Оценивается пропорционально кол-ву выполненных задач. + 20 % (еще 15 задач)

- Дополнить таблицу 'items' и 'purchases' 5ью экземплярами (каждую) на Ваш Выбор. Важно: они должны быть привязаны к существующим покупателям Lisa, Nika, Moshe.
- При помощи запроса SQLAlchemy вывести все покупки Lisa. Вывести тоже самое при помощи Pandas.


<center><img src='https://github.com/ddvika/Data-Science-School-2020/blob/main/lecture_5/imgs/i-know-sql.jpg?raw=true'></center>

![image.png]()

In [ ]:
Vika = Customer(
    FirstName='Vika',
    LastName='Cohen', 
    Address='Struma 2, Dimona', 
    Phone="042-1542565", 
    Email='Vika@cohen.com')

session.add(Vika)
session.commit()

2020-12-13 17:09:21,345 INFO sqlalchemy.engine.base.Engine INSERT INTO customers ("FirstName", "LastName", "Company", activity, "Address", "Phone", "Email") VALUES (?, ?, ?, ?, ?, ?, ?)
2020-12-13 17:09:21,347 INFO sqlalchemy.engine.base.Engine ('Vika', 'Cohen', None, None, 'Struma 2, Dimona', '042-1542565', 'Vika@cohen.com')
2020-12-13 17:09:21,351 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
Nata = Customer(
    FirstName='Nata',
    LastName='Cohen', 
    Address='Struma 2, Dimona', 
    Phone="042-1542566", 
    Email='Nata@cohen.com')
session.add(Nata)
session.commit()

2020-12-13 17:09:24,095 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-13 17:09:24,096 INFO sqlalchemy.engine.base.Engine INSERT INTO customers ("FirstName", "LastName", "Company", activity, "Address", "Phone", "Email") VALUES (?, ?, ?, ?, ?, ?, ?)
2020-12-13 17:09:24,097 INFO sqlalchemy.engine.base.Engine ('Nata', 'Cohen', None, None, 'Struma 2, Dimona', '042-1542566', 'Nata@cohen.com')
2020-12-13 17:09:24,099 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
Ed = Customer(
    FirstName='Ed',
    LastName='Black', 
    Address='Alia 12, Dimona', 
    Phone="034-1542560", 
    Email='Ed@Black.com')
session.add(Ed)
session.commit()

2020-12-13 17:09:26,838 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-13 17:09:26,840 INFO sqlalchemy.engine.base.Engine INSERT INTO customers ("FirstName", "LastName", "Company", activity, "Address", "Phone", "Email") VALUES (?, ?, ?, ?, ?, ?, ?)
2020-12-13 17:09:26,843 INFO sqlalchemy.engine.base.Engine ('Ed', 'Black', None, None, 'Alia 12, Dimona', '034-1542560', 'Ed@Black.com')
2020-12-13 17:09:26,845 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
Alan = Customer(
    FirstName='Alan',
    LastName='Black', 
    Address='Alia 12, Dimona', 
    Phone="034-1542562", 
    Email='Alan@Black.com')
session.add(Alan)
session.commit()

2020-12-13 17:09:30,007 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-13 17:09:30,010 INFO sqlalchemy.engine.base.Engine INSERT INTO customers ("FirstName", "LastName", "Company", activity, "Address", "Phone", "Email") VALUES (?, ?, ?, ?, ?, ?, ?)
2020-12-13 17:09:30,011 INFO sqlalchemy.engine.base.Engine ('Alan', 'Black', None, None, 'Alia 12, Dimona', '034-1542562', 'Alan@Black.com')
2020-12-13 17:09:30,014 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
Jessica = Customer(
    FirstName='Jessica',
    LastName='Black', 
    Address='Alia 12, Dimona', 
    Phone="034-1542561", 
    Email='Jessica@Black.com')
session.add(Jessica)
session.commit()

2020-12-13 17:09:32,544 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-13 17:09:32,546 INFO sqlalchemy.engine.base.Engine INSERT INTO customers ("FirstName", "LastName", "Company", activity, "Address", "Phone", "Email") VALUES (?, ?, ?, ?, ?, ?, ?)
2020-12-13 17:09:32,547 INFO sqlalchemy.engine.base.Engine ('Jessica', 'Black', None, None, 'Alia 12, Dimona', '034-1542561', 'Jessica@Black.com')
2020-12-13 17:09:32,550 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
customers_query = select([Customer.CustomerId, Customer.FirstName, Customer.LastName, Customer.Address, Customer.Phone, Customer.Email])
display_results(customers_query)

2020-12-13 17:09:35,231 INFO sqlalchemy.engine.base.OptionEngine SELECT customers."CustomerId", customers."FirstName", customers."LastName", customers."Address", customers."Phone", customers."Email"
FROM customers
2020-12-13 17:09:35,233 INFO sqlalchemy.engine.base.OptionEngine ()

   CustomerId FirstName  ...        Phone              Email
0           1     Moshe  ...  053-5556789    moshe@cohen.com
1           2      Lisa  ...  052-1234565     lisa@cohen.com
2           3      Nika  ...  330-1234565      Nika@rave.com
3           4      Vika  ...  042-1542565     Vika@cohen.com
4           5      Nata  ...  042-1542566     Nata@cohen.com
5           6        Ed  ...  034-1542560       Ed@Black.com
6           7      Alan  ...  034-1542562     Alan@Black.com
7           8   Jessica  ...  034-1542561  Jessica@Black.com

[8 rows x 6 columns]

In [ ]:
Lisa = Item(
    FirstName='Lisa', 
    LastName='Cohen',
    Name='Туфли', 
    Price='300')

session.add(Lisa)
session.commit()

2020-12-13 17:11:59,245 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-13 17:11:59,251 INFO sqlalchemy.engine.base.Engine INSERT INTO items ("FirstName", "LastName", "Name", "Price") VALUES (?, ?, ?, ?)
2020-12-13 17:11:59,253 INFO sqlalchemy.engine.base.Engine ('Lisa', 'Cohen', 'Туфли', 300.0)
2020-12-13 17:11:59,256 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
Lisa = Item(
    FirstName='Lisa', 
    LastName='Cohen',
    Name='Пальто', 
    Price='500')

session.add(Lisa)
session.commit()

2020-12-13 17:12:42,163 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-13 17:12:42,165 INFO sqlalchemy.engine.base.Engine INSERT INTO items ("FirstName", "LastName", "Name", "Price") VALUES (?, ?, ?, ?)
2020-12-13 17:12:42,166 INFO sqlalchemy.engine.base.Engine ('Lisa', 'Cohen', 'Пальто', 500.0)
2020-12-13 17:12:42,167 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
Alan = Item(
    FirstName='Alan', 
    LastName='Black',
    Name='Рюкзак', 
    Price='200')

session.add(Alan)
session.commit()

2020-12-13 17:14:33,014 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-13 17:14:33,018 INFO sqlalchemy.engine.base.Engine INSERT INTO items ("FirstName", "LastName", "Name", "Price") VALUES (?, ?, ?, ?)
2020-12-13 17:14:33,019 INFO sqlalchemy.engine.base.Engine ('Alan', 'Black', 'Рюкзак', 200.0)
2020-12-13 17:14:33,021 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
df1 = pd.read_sql('SELECT * FROM items', conn)
df1.tail()

2020-12-13 17:14:44,199 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("SELECT * FROM items")
2020-12-13 17:14:44,201 INFO sqlalchemy.engine.base.Engine ()
2020-12-13 17:14:44,203 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("SELECT * FROM items")
2020-12-13 17:14:44,204 INFO sqlalchemy.engine.base.Engine ()
2020-12-13 17:14:44,205 INFO sqlalchemy.engine.base.Engine SELECT * FROM items
2020-12-13 17:14:44,206 INFO sqlalchemy.engine.base.Engine ()

   ItemId FirstName LastName     Name  Price
0       1     Moshe    Cohen  Ботинки    300
1       2      Lisa    Cohen    Туфли    300
2       3      Lisa    Cohen   Пальто    500
3       4      Alan    Black   Рюкзак    200

In [ ]:
sql = """
SELECT 
    *
FROM
    items
WHERE FirstName = 'Lisa';
"""
df = pd.read_sql(sql, conn)

df.head()

2020-12-13 17:35:17,710 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("
SELECT
    *
FROM
    items
WHERE FirstName = 'Lisa';
")
2020-12-13 17:35:17,712 INFO sqlalchemy.engine.base.Engine ()
2020-12-13 17:35:17,715 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("
SELECT
    *
FROM
    items
WHERE FirstName = 'Lisa';
")
2020-12-13 17:35:17,716 INFO sqlalchemy.engine.base.Engine ()
2020-12-13 17:35:17,721 INFO sqlalchemy.engine.base.Engine
SELECT
    *
FROM
    items
WHERE FirstName = 'Lisa';

2020-12-13 17:35:17,722 INFO sqlalchemy.engine.base.Engine ()

   ItemId FirstName LastName    Name  Price
0       2      Lisa    Cohen   Туфли    300
1       3      Lisa    Cohen  Пальто    500

In [ ]:
items_query = select([Item.ItemId, Item.FirstName, Item.LastName, Item.Name, Item.Price])
items_query = items_query.where(Item.FirstName == 'Lisa')

display_results(items_query)

2020-12-13 17:40:23,174 INFO sqlalchemy.engine.base.OptionEngine SELECT items."ItemId", items."FirstName", items."LastName", items."Name", items."Price"
FROM items
WHERE items."FirstName" = ?
2020-12-13 17:40:23,175 INFO sqlalchemy.engine.base.OptionEngine ('Lisa',)

   ItemId FirstName LastName    Name  Price
0       2      Lisa    Cohen   Туфли  300.0
1       3      Lisa    Cohen  Пальто  500.0

Добавление еще 5 различных столбцов в идентификацию наших покупателей

In [ ]:
from sqlalchemy import Column, DateTime, ForeignKey, Integer, NVARCHAR, Numeric, Sequence
from sqlalchemy.orm import relationship

class Customer(Base):
    __tablename__ = 'customers'

    CustomerId = Column(Integer, Sequence('customer_id_seq'), primary_key=True)
    FirstName = Column(NVARCHAR(40), nullable=False)
    LastName = Column(NVARCHAR(20), nullable=False)
    Age = Column(Numeric, nullable=False) # Добавили возраст
    Gender = Column(NVARCHAR(80), nullable=False) # Добавили пол
    Family = Column(NVARCHAR(80), nullable=False) # Добавили семейное положение
    Company = Column(NVARCHAR(80), nullable=False)
    Activity = Column(NVARCHAR(80), nullable=False) # Добавили род деятельности
    Address = Column(NVARCHAR(70), nullable=False)
    Phone = Column(NVARCHAR(24), nullable=False)
    Social = Column(NVARCHAR(60), nullable=False) # Добавили соцсети
    Email = Column(NVARCHAR(60), nullable=False)
    
class Item(Base):
    __tablename__ = 'items'
    
    ItemId = Column(Integer, Sequence('item_id_seq'), primary_key=True)
    Name = Column(NVARCHAR(40), nullable=False)
    Price = Column(Numeric, nullable=False)
    Weight = Column(Numeric, nullable=False) #  Вес товара
    Material = Column(NVARCHAR(80), nullable=False) # Из чего изготовлен
    Food = Column(Numeric, nullable=False) # Признак продуктов питания 1 или 0
    Clothes = Column(Numeric, nullable=False) # Признак одежды 1 или 0
    Domestic = Column(Numeric, nullable=False) # Признак бытовой химии 1 или 0

class Purchase(Base):
    __tablename__ = 'purchases'
    
    PurchaseId = Column(Integer, Sequence('purchase_id_seq'), primary_key=True)
    ItemId = Column(ForeignKey('items.ItemId'), nullable=False, index=True)
    CustomerId = Column(ForeignKey('customers.CustomerId'), nullable=False, index=True)
    Date = Column(DateTime, nullable=False)
    Payment = Column(Numeric, nullable=False) # Наличный - 1/безналичный - 0
    Delivery = Column(Numeric, nullable=False) # нужна доставка - 1/нет - 0
    Online = Column(Numeric, nullable=False) # интернет заказ - 1/нет - 0
    Impulsiv = Column(Numeric, nullable=False) # признак импульсивности покупки - 1/нет - 0
    Brand = Column(NVARCHAR(80), nullable=False) # Бренд
    
    item = relationship('Item')
    customer = relationship('Customer')